.chip {
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  gap: 2px;

  border-radius: 16px;
  background: #f5faff;
  color: #1b92ff;
  font-size: 12px;
  font-weight: 600;
}

.sm {
  display: inline-flex;
  padding: 2px 6px;
  font-size: 12px;
  line-height: 20px;
}

.md {
  display: flex;
  width: 54px;
  padding: 2px 4px;
  font-size: 14px;
  line-height: 1;
}
