.chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: #e9f4ff;
  box-shadow: 4px 4px 8px rgba(217, 217, 217, 0.1);
  font-weight: 600;

  border: none;

  cursor: pointer;
  white-space: nowrap;
}

.sm {
  padding: 2px 6px 2px 2px;
  gap: 2px;
  font-size: 13px;
  line-height: 22px;
}

.md {
  padding: 4px 5px 4px 3px;
  gap: 4px;
  font-size: 16px;
  line-height: 1;
}

.icon {
  display: block;
}

.label {
  display: block;
}

.bl {
  background: #e9f4ff;
  color: #1673ff;
}

.rd {
  background: #ffe9ec;
  color: #ff4f64;
}

.gr {
  background: #f2f3f8;
  color: #242945;
  padding: 2px 6px;
  justify-content: center;
  align-items: center;
}
