.chip {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  padding: 6px 12px;
  border-radius: 100px;

  border: 1px solid #dedede;
  background: #fafafa;

  box-shadow: 4px 4px 10px rgba(230, 230, 230, 0.16);

  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: #242945;

  cursor: pointer;
  white-space: nowrap;
  transition: 0.15s ease;
}

.selected {
  border-color: #1b92ff;
  background: #f5faff;
  color: #1b92ff;
}

.sm {
  padding: 6px 12px;
  font-size: 14px;
  line-height: 24px;
}

.md {
  padding: 10px 20px;
  font-size: 16px;
  line-height: 26px;
}
